<template>
  <div class="page-header">
    <ol class="breadcrumb">
      <li
        v-for="(item, index) in lists"
        :key="index"
        :class="item === active ? 'breadcrumb-item active' : 'breadcrumb-item'">
        {{ item }}
      </li>
    </ol>
    <div class="site-award">
      <img src="@/assets/img/award.svg" alt="Award"> Best Hospital
    </div>
  </div>
</template>

<script>
export default {
  props: {
    active: String,
    lists: Array
  }
}
</script>
