<template>
  <nav class="navbar navbar-expand-lg custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#roriHospitalsNavbar" aria-controls="roriHospitalsNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i></i>
        <i></i>
        <i></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="roriHospitalsNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link :to="{name: 'home'}" class="nav-link active-page">
            <i class="icon-devices_other nav-icon"></i>
            Dashboard
          </router-link>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="doctoRs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-users nav-icon"></i>
            Doctors
          </a>
          <ul class="dropdown-menu" aria-labelledby="doctoRs">
            <li><router-link :to="{name: 'list-doctor'}" class="dropdown-item">Doctors List</router-link></li>
            <li><router-link :to="{name: 'staff-trainings'}" class="dropdown-item">Staff Trainings</router-link></li>
            <li><router-link :to="{name: 'patients'}" class="dropdown-item">Patients</router-link></li>
            <li>
              <a class="dropdown-item" href="hospital-add-doctor.html">Add Doctor</a>
            </li>
            <li>
              <a class="dropdown-item" href="hospital-add-patient.html">Add Patient</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-book-open nav-icon"></i>
            Pages
          </a>
          <ul class="dropdown-menu" aria-labelledby="pagesDropdown">
            <li>
              <a class="dropdown-item" href="calendar.html">Calendar</a>
            </li>
            <li>
              <a class="dropdown-item" href="invoice.html">Invoice</a>
            </li>
            <li>
              <a class="dropdown-item" href="cards.html">Cards</a>
            </li>
            <li>
              <a class="dropdown-item" href="search-results.html">Search Results</a>
            </li>
            <li>
              <a class="dropdown-item" href="gallery.html">Gallery</a>
            </li>
            <li>
              <a class="dropdown-item" href="icons.html">Icons</a>
            </li>
            <li>
              <a class="dropdown-item" href="typography.html">Typography</a>
            </li>
            <li>
              <a class="dropdown-item" href="account-settings.html">Account Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="default-layout.html">Default Layout</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="formsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-edit1 nav-icon"></i>
            Forms
          </a>
          <ul class="dropdown-menu" aria-labelledby="formsDropdown">
            <li>
              <a class="dropdown-item" href="datepickers.html">Datepickers</a>
            </li>
            <li>
              <a class="dropdown-item" href="wizard.html">Wizards</a>
            </li>
            <li>
              <a class="dropdown-item" href="bs-select.html">BS Select</a>
            </li>
            <li>
              <a class="dropdown-toggle sub-nav-link" href="#" id="customDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Custom Forms
              </a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="customDropdown">
                <li>
                  <a class="dropdown-item" href="contact.html">Contact Form</a>
                </li>
                <li>
                  <a class="dropdown-item" href="contact2.html">Contact Form #2</a>
                </li>
                <li>
                  <a class="dropdown-item" href="contact3.html">Contact Form #3</a>
                </li>
                <li>
                  <a class="dropdown-item" href="contact4.html">Contact Form #4</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="form-inputs.html">Form Inputs</a>
            </li>
            <li>
              <a class="dropdown-item" href="input-groups.html">Input Groups</a>
            </li>
            <li>
              <a class="dropdown-item" href="check-radio.html">Check Boxes</a>
            </li>
            <li>
              <a class="dropdown-item" href="range-sliders.html">Range Sliders</a>
            </li>
            <li>
              <a class="dropdown-item" href="editor.html">Editor</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="uiElementsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-image nav-icon"></i>
            UI Elements
          </a>
          <ul class="dropdown-menu" aria-labelledby="uiElementsDropdown">
            <li>
              <a class="dropdown-toggle sub-nav-link" href="#" id="buttonsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Buttons
              </a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="buttonsDropdown">
                <li>
                  <a class="dropdown-item" href="buttons.html">Buttons</a>
                </li>
                <li>
                  <a class="dropdown-item" href="button-groups.html">Button Groups</a>
                </li>
                <li>
                  <a class="dropdown-item" href="dropdowns.html">Dropdowns</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-toggle sub-nav-link" href="#" id="navsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Navbars
              </a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navsDropdown">
                <li>
                  <a class="dropdown-item" href="nav.html">Nav</a>
                </li>
                <li>
                  <a class="dropdown-item" href="navbars.html">Navbars</a>
                </li>
                <li>
                  <a class="dropdown-item" href="tabs.html">Tabs</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-toggle sub-nav-link" href="#" id="componentsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Components
              </a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="componentsDropdown">
                <li>
                  <a class="dropdown-item" href="breadcrumbs.html">Breadcrumbs</a>
                </li>
                <li>
                  <a class="dropdown-item" href="jumbotron.html">Jumbotron</a>
                </li>
                <li>
                  <a class="dropdown-item" href="labels-badges.html">Labels &amp; Badges</a>
                </li>
                <li>
                  <a class="dropdown-item" href="list-items.html">List Items</a>
                </li>
                <li>
                  <a class="dropdown-item" href="pagination.html">Paginations</a>
                </li>
                <li>
                  <a class="dropdown-item" href="progress.html">Progress Bars</a>
                </li>
                <li>
                  <a class="dropdown-item" href="pills.html">Pills</a>
                </li>
                <li>
                  <a class="dropdown-item" href="spinners.html">Spinners</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-toggle sub-nav-link" href="#" id="gridDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Grid
              </a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="gridDropdown">
                <li>
                  <a class="dropdown-item" href="grid.html">Grid</a>
                </li>
                <li>
                  <a class="dropdown-item" href="grid-doc.html">Grid Doc</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-toggle sub-nav-link" href="#" id="imagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Images
              </a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="imagesDropdown">
                <li>
                  <a class="dropdown-item" href="avatars.html">Avatars</a>
                </li>
                <li>
                  <a class="dropdown-item" href="media-objects.html">Media Objects</a>
                </li>
                <li>
                  <a class="dropdown-item" href="images.html">Thumbnails</a>
                </li>
                <li>
                  <a class="dropdown-item" href="text-avatars.html">Text Avatars</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-toggle sub-nav-link" href="#" id="alertDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Notifications
              </a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="alertDropdown">
                <li>
                  <a class="dropdown-item" href="bootstrap-alerts.html">Default Alerts</a>
                </li>
                <li>
                  <a class="dropdown-item" href="custom-alerts.html">Custom Alerts</a>
                </li>
                <li>
                  <a class="dropdown-item" href="toasts.html">Toasts</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-toggle sub-nav-link" href="#" id="bsJquery" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bootstrap jQuery
              </a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="bsJquery">
                <li>
                  <a class="dropdown-item" href="carousel.html">Carousels</a>
                </li>
                <li>
                  <a class="dropdown-item" href="modals.html">Modals</a>
                </li>
                <li>
                  <a class="dropdown-item" href="popovers-tooltips.html">Tooltips</a>
                </li>
                <li>
                  <a class="dropdown-item" href="accordion.html">Accordions</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="tablesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-border_all nav-icon"></i>
            Tables
          </a>
          <ul class="dropdown-menu" aria-labelledby="tablesDropdown">
            <li>
              <a class="dropdown-item" href="bs-tables.html">Bootstrap Tables</a>
            </li>
            <li>
              <a class="dropdown-item" href="data-tables.html">Data Tables</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-alert-triangle nav-icon"></i>
            Login
          </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="loginDropdown">
            <li>
              <a class="dropdown-item" href="login.html">Login</a>
            </li>
            <li>
              <a class="dropdown-item" href="signup.html">Signup</a>
            </li>
            <li>
              <a class="dropdown-item" href="forgot-pwd.html">Forgot Password</a>
            </li>
            <li>
              <a class="dropdown-item" href="newsletter.html">Newsletter</a>
            </li>
            <li>
              <a class="dropdown-item" href="error.html">404</a>
            </li>
            <li>
              <a class="dropdown-item" href="error2.html">505</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</template>
