<template>
  <div>
    <HeaderPage :lists="['Doctors', 'Doctors List']" active="Doctors List"></HeaderPage>
    <div class="content-wrapper">
      <div class="row gutters">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Neurosurgery</div>
            </div>
            <div class="card-body">
              <div class="doctors-list">
                <a href="#">Dr. John Willams</a>
                <a href="#">Dr. K Sam Kumar</a>
                <a href="#">Dr. N Preethish Kumar</a>
                <a href="#">Dr. G Chandrashekar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Dermatology</div>
            </div>
            <div class="card-body">
              <div class="doctors-list">
                <a href="#">Dr. William G. Bowen</a>
                <a href="#">Dr. Keith Brandt</a>
                <a href="#">Dr. Robert Brophy</a>
                <a href="#">Dr. Craig Buchman</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Cardiology</div>
            </div>
            <div class="card-body">
              <div class="doctors-list">
                <a href="#">Dr. Tom Bartholet</a>
                <a href="#">Dr. Michael Berk</a>
                <a href="#">Dr. Dale Colorado</a>
                <a href="#">Dr. Jennifer Dunn</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Ophthalmology</div>
            </div>
            <div class="card-body">
              <div class="doctors-list">
                <a href="#">Dr. Lorena Buffa</a>
                <a href="#">Dr. Kenneth Carson</a>
                <a href="#">Dr. Murali Chinala</a>
                <a href="#">Dr. Douglas M. Char</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Orthopedics</div>
            </div>
            <div class="card-body">
              <div class="doctors-list">
                <a href="#">Dr. Jennifer Arter</a>
                <a href="#">Dr. Foluso Ademuyiwa</a>
                <a href="#">Dr. Milan Anadkat</a>
                <a href="#">Dr. Ana Marie Arbelaez</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Dentistry</div>
            </div>
            <div class="card-body">
              <div class="doctors-list">
                <a href="#">Dr. Courtney Chrisler</a>
                <a href="#">Dr. Douglas Coplen</a>
                <a href="#">Dr. Ferdinand Coste</a>
                <a href="#">Dr. Sharon Cresci</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Rheumatology</div>
            </div>
            <div class="card-body">
              <div class="doctors-list">
                <a href="#">Dr. Sylvia Awadalla</a>
                <a href="#">Dr. Leonard B. Bacharier</a>
                <a href="#">Dr. Jonathan Baker</a>
                <a href="#">Dr. Philip Barger</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Psychiatry</div>
            </div>
            <div class="card-body">
              <div class="doctors-list">
                <a href="#">Dr. Lenise Cummings</a>
                <a href="#">Dr. Charl De Wet</a>
                <a href="#">Dr. Vladimir Despotovic</a>
                <a href="#">Dr. Patrick Dillon</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ListDoctor'
}
</script>
