<template>
  <div>
    <HeaderPage :lists="['Doctors', 'Patients']" active="Patients"></HeaderPage>
    <div class="content-wrapper">
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="table-container">
            <div class="table-responsive" style="margin-top: 30px;">
              <table id="basicExample" class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>ID</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Last Visit</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Hussy Nixon</td>
                    <td>#00045</td>
                    <td>35</td>
                    <td>Fraser Suite City Tower 16450 - Edinburgh</td>
                    <td>558 767 5543</td>
                    <td>hussy@bml.com</td>
                    <td>2019/03/29</td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-info">
                          <i class="icon-edit1"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                          <i class="icon-cancel"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Meslin</td>
                    <td>#00011</td>
                    <td>22</td>
                    <td>Wilsom Lake City Tower 12890 - California</td>
                    <td>665 798 8321</td>
                    <td>meslin@bml.com</td>
                    <td>2018/07/10</td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-info">
                          <i class="icon-edit1"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                          <i class="icon-cancel"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Willaiamson</td>
                    <td>#00089</td>
                    <td>26</td>
                    <td>Huston Manali Bay 13449 - Gulamsn</td>
                    <td>342 889 8891</td>
                    <td>willam@bml.com</td>
                    <td>2018/06/17</td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-info">
                          <i class="icon-edit1"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                          <i class="icon-cancel"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Lusianil</td>
                    <td>#00063</td>
                    <td>40</td>
                    <td>JunileNiewliajs 12459 - Kunlicae</td>
                    <td>558 767 5543</td>
                    <td>lusianil@bml.com</td>
                    <td>2018/04/22</td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-info">
                          <i class="icon-edit1"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                          <i class="icon-cancel"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Bolwin</td>
                    <td>#00078</td>
                    <td>52</td>
                    <td>Adesmionr Lunica Mark - Elisonniar</td>
                    <td>452 667 8981</td>
                    <td>bolwin@bml.com</td>
                    <td>2019/04/15</td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-info">
                          <i class="icon-edit1"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                          <i class="icon-cancel"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Jennifer</td>
                    <td>#00049</td>
                    <td>63</td>
                    <td>Global Village 18440 - Lake City</td>
                    <td>558 767 8873</td>
                    <td>jennifer@bml.com</td>
                    <td>2019/03/30</td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-info">
                          <i class="icon-edit1"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                          <i class="icon-cancel"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Linda</td>
                    <td>#00032</td>
                    <td>18</td>
                    <td>Youncicer Luncinka Huoberg - Dustonlr</td>
                    <td>763 776 5540</td>
                    <td>linda@bml.com</td>
                    <td>2019/02/13</td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-info">
                          <i class="icon-edit1"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                          <i class="icon-cancel"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Kulnan</td>
                    <td>#00080</td>
                    <td>20</td>
                    <td>Insulamer Johnsurboag - Kunerianl</td>
                    <td>558 767 5543</td>
                    <td>kulnan@bml.com</td>
                    <td>2019/04/18</td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-info">
                          <i class="icon-edit1"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                          <i class="icon-cancel"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Nixon</td>
                    <td>#00069</td>
                    <td>30</td>
                    <td>23-90 Municalier Masocew - Ubvero</td>
                    <td>558 767 5543</td>
                    <td>nixon@bml.com</td>
                    <td>2019/02/21</td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-info">
                          <i class="icon-edit1"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                          <i class="icon-cancel"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Mauli</td>
                    <td>#00015</td>
                    <td>42</td>
                    <td>887-90 Unicerveo Gloverins - Jusinions</td>
                    <td>667 998 9910</td>
                    <td>mauli@bml.com</td>
                    <td>2019/03/18</td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-info">
                          <i class="icon-edit1"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                          <i class="icon-cancel"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Julia</td>
                    <td>#00031</td>
                    <td>46</td>
                    <td>Husoman Vusolar Gunoor - Wersouty</td>
                    <td>558 767 5543</td>
                    <td>julia@bml.com</td>
                    <td>2019/05/12</td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-info">
                          <i class="icon-edit1"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                          <i class="icon-cancel"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Benner</td>
                    <td>#00065</td>
                    <td>63</td>
                    <td>City Tower 16449 - Beuuend</td>
                    <td>558 767 5543</td>
                    <td>benner@bml.com</td>
                    <td>2018/11/25</td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-info">
                          <i class="icon-edit1"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                          <i class="icon-cancel"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Cedric</td>
                    <td>#00093</td>
                    <td>76</td>
                    <td>Cloneks Second Line 13450 - Edinburgh</td>
                    <td>558 767 6371</td>
                    <td>cedric@bml.com</td>
                    <td>2018/11/25</td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-info">
                          <i class="icon-edit1"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                          <i class="icon-cancel"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Ashton</td>
                    <td>#00097</td>
                    <td>53</td>
                    <td>Francisco City 17630 - San Francisco</td>
                    <td>558 767 8970</td>
                    <td>ashton@bml.com</td>
                    <td>2018/11/28</td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-info">
                          <i class="icon-edit1"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                          <i class="icon-cancel"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Garrett Winters</td>
                    <td>#00099</td>
                    <td>49</td>
                    <td>Francisco Suite City Tower 13450 - Tokyo</td>
                    <td>542 767 4348</td>
                    <td>gerrett@bml.com</td>
                    <td>2018/11/21</td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-info">
                          <i class="icon-edit1"></i>
                        </button>
                        <button type="button" class="btn btn-danger">
                          <i class="icon-cancel"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="table-container">
            <div class="table-responsive">
              <div id="basicExample_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="basicExample_length">
                      <label>Show
                      <select name="basicExample_length" aria-controls="basicExample" class="form-control form-control-sm selectpicker">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select> entries</label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div id="basicExample_filter" class="dataTables_filter">
                      <label>Search:
                        <input type="search" class="form-control form-control-sm selectpicker" placeholder="" aria-controls="basicExample">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <table id="basicExample" class="table dataTable no-footer" role="grid" aria-describedby="basicExample_info">
                      <thead>
                        <tr role="row">
                          <th
                            class="sorting_asc"
                            tabindex="0"
                            aria-controls="basicExample"
                            rowspan="1"
                            colspan="1"
                            aria-sort="ascending"
                            aria-label="Name: activate to sort column descending"
                            style="width: 113px;">
                            Name
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="basicExample"
                            rowspan="1"
                            colspan="1"
                            aria-label="ID: activate to sort column ascending"
                            style="width: 51px;">
                            ID
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="basicExample"
                            rowspan="1"
                            colspan="1"
                            aria-label="Age: activate to sort column ascending"
                            style="width: 47px;">
                            Age
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="basicExample"
                            rowspan="1"
                            colspan="1"
                            aria-label="Address: activate to sort column ascending"
                            style="width: 322px;">
                            Address
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="basicExample"
                            rowspan="1"
                            colspan="1"
                            aria-label="Phone: activate to sort column ascending"
                            style="width: 97px;">
                            Phone
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="basicExample"
                            rowspan="1"
                            colspan="1"
                            aria-label="Email: activate to sort column ascending"
                            style="width: 137px;">
                            Email
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="basicExample"
                            rowspan="1"
                            colspan="1"
                            aria-label="Last Visit: activate to sort column ascending"
                            style="width: 90px;">
                            Last Visit
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="basicExample"
                            rowspan="1"
                            colspan="1"
                            aria-label="Actions: activate to sort column ascending"
                            style="width: 78px;">
                            Actions
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr role="row" class="odd">
                          <td class="sorting_1">Ashton</td>
                          <td>#00097</td>
                          <td>53</td>
                          <td>Francisco City 17630 - San Francisco</td>
                          <td>558 767 8970</td>
                          <td>ashton@bml.com</td>
                          <td>2018/11/28</td>
                          <td>
                            <div class="btn-group btn-group-sm">
                              <button type="button" class="btn btn-info"><i class="icon-edit1"></i></button>
                              <button type="button" class="btn btn-danger"><i class="icon-cancel"></i></button>
                            </div>
                          </td>
                        </tr>
                        <tr role="row" class="even">
                          <td class="sorting_1">Benner</td>
                          <td>#00065</td>
                          <td>63</td>
                          <td>City Tower 16449 - Beuuend</td>
                          <td>558 767 5543</td>
                          <td>benner@bml.com</td>
                          <td>2018/11/25</td>
                          <td>
                            <div class="btn-group btn-group-sm">
                              <button type="button" class="btn btn-info"><i class="icon-edit1"></i></button>
                              <button type="button" class="btn btn-danger"><i class="icon-cancel"></i></button>
                            </div>
                          </td>
                        </tr>
                        <tr role="row" class="odd">
                          <td class="sorting_1">Bolwin</td>
                          <td>#00078</td>
                          <td>52</td>
                          <td>Adesmionr Lunica Mark - Elisonniar</td>
                          <td>452 667 8981</td>
                          <td>bolwin@bml.com</td>
                          <td>2019/04/15</td>
                          <td>
                            <div class="btn-group btn-group-sm">
                              <button type="button" class="btn btn-info"><i class="icon-edit1"></i></button>
                              <button type="button" class="btn btn-danger"><i class="icon-cancel"></i></button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="basicExample_info" role="status" aria-live="polite">Showing 1 to 3 of 15 entries</div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="basicExample_paginate">
                      <ul class="pagination pagination-sm">
                        <li class="paginate_button page-item previous disabled" id="basicExample_previous">
                          <a href="#" aria-controls="basicExample" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                        <li class="paginate_button page-item active">
                          <a href="#" aria-controls="basicExample" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                        </li>
                        <li class="paginate_button page-item">
                          <a href="#" aria-controls="basicExample" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                        </li>
                        <li class="paginate_button page-item">
                          <a href="#" aria-controls="basicExample" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                        </li>
                        <li class="paginate_button page-item">
                          <a href="#" aria-controls="basicExample" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                        </li>
                        <li class="paginate_button page-item">
                          <a href="#" aria-controls="basicExample" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                        </li>
                        <li class="paginate_button page-item next" id="basicExample_next">
                          <a href="#" aria-controls="basicExample" data-dt-idx="6" tabindex="0" class="page-link">Next</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</template>

<script>
export default {
  name: 'Patients'
}
</script>
