<template>
  <div>
    <HeaderPage :lists="['Doctors', 'Staff Trainings']" active="Staff Trainings"></HeaderPage>
    <div class="content-wrapper">
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="training-schedule">
            <a href="javascript:void(0)" class="schedule-block">
              09:00–10:30am <br />Staff Training (BM950)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              09:00–10:30am <br />Medical Training (BM950)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              09:00–10:30am <br />Medical Training (BM950)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              09:00–10:30am <br />Staff Training (BM950)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              11:00–12:30pm <br />Doctors Training (LX125)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              11:00–12:30pm <br />Staff Training (LX125)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              11:00–12:30pm <br />Nurse Training (LX125)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              11:00–12:30pm <br />Staff Training (LX125)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              11:00–12:30pm <br />Doctor Training (LX125)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              11:00–12:30pm <br />Staff Training (LX125)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              12:45–02:45pm <br />Staff Training (BM320)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              12:45–20:45pm <br />Staff Training (BM320)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              12:45–02:45pm <br />Staff Training (BM320)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              12:45–02:45pm <br />Doctor Training (BM320)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              12:45–02:45pm <br />Staff Training (BM320)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              12:45–02:45pm <br />Medical Training (BM320)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              03:00–04:30pm <br />Staff Training (GG650)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              03:00–40:30pm <br />Nurse Training (GG650)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              03:00–04:30pm <br />Staff Training (GG650)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              03:00–04:30pm <br />Doctor Training (GG650)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              03:00–04:30pm <br />Staff Training (GG650)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              05:30–06:45pm <br />Medical Training (JQ545)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              05:30–06:45pm <br />Staff Training (JQ545)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              05:30–06:45pm <br />Health Training (JQ545)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              05:30–06:45pm <br />Doctor Training (JQ545)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              05:30–06:45pm <br />Staff Training (JQ545)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              07:00–09:15pm <br />Medical Training (UK490)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              07:00–09:15pm <br />Doctor Training (UK490)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              07:00–09:15pm <br />Staff Training (UK490)
            </a>
            <a href="javascript:void(0)" class="schedule-block">
              07:00–09:15pm <br />Medical Training (UK490)
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Trainings'
}
</script>
