<template>
  <div id="app">
    <HeaderApp></HeaderApp>
    <div class="container-fluid">
      <HeaderMenus></HeaderMenus>
      <div class="main-container">
        <router-view></router-view>
      </div>
      <FooterApp></FooterApp>
    </div>
  </div>
</template>

<script>
import hospital from '@/assets/js/index.js'
import HeaderApp from '@/components/layouts/HeaderApp'
import HeaderMenus from '@/components/layouts/HeaderMenus'
import FooterApp from '@/components/layouts/FooterApp'

export default {
  components: {
    HeaderApp,
    HeaderMenus,
    FooterApp
  },
  created () {
    hospital.render()
  }
}
</script>
